<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/navigation.css" />
    <title>navigation</title>
</head>
<body>
<div class="nav-bar">
    <div class="logo">LOGO</div>
    <div class="home-page">
        <a href="">TRANG CHỦ</a>
    </div>
    <div class="abt-product">
        <a href="">SẢN PHẨM</a>
    </div>
    <div class="search">
        <input type="search" name="" id="" placeholder="Tìm kiếm" />
    </div>
    <div class="abt-cart">
        <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
    <div class="user">
        <i class="fa-regular fa-user"></i>
        <div class="option">
            <a href="" class="prof">PROFILE</a>
            <a href="" class="logout">LOG OUT</a>
        </div>
    </div>
</div>
</body>
</html>
