<script src="https://esgoo.net/scripts/jquery.js"></script>
<style type="text/css">
    .css_select_div{ text-align: center;}
    .css_select{ display: inline-table; width: 25%; padding: 5px; margin: 5px 2%; border: solid 1px #686868; border-radius: 5px;}
</style>

<div class="css_select_div">
    <select class="css_select" id="tinh" name="tinh" title="Chọn Tỉnh Thành">
        <option value="0">Tỉnh Thành</option>
    </select>
    <select class="css_select" id="quan" name="quan" title="Chọn Quận Huyện">
        <option value="0">Quận Huyện</option>
    </select>
    <select class="css_select" id="phuong" name="phuong" title="Chọn Phường Xã">
        <option value="0">Phường Xã</option>
    </select>
</div>