<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên Mật Khẩu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Quên Mật Khẩu</h1>
    <div th:if="${success}" class="alert alert-danger text-center">
        Chung toi da gui thong tin qua email cua ban, vui long kiem tra email cua ban
    </div>
    <div th:if="${error}" class="alert alert-danger text-center">
        Sai email cua ban, vui long nhap lai email
    </div>
    <form th:action="@{/forgot-password}" method="post">
        <div class="form-group">
            <label for="emailOrPhone">Nhập Email hoặc Số điện thoại của bạn</label>
            <input type="text" class="form-control" id="emailOrPhone" name="email" placeholder="Nhập Email cua ban" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Gửi yêu cầu</button>
    </form>
</div>
</body>
</html>
