<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="container mt-5">
    <h1 class="text-center">Đăng nhập</h1>
    <div th:if="${param.error}" class="alert alert-danger text-center">
        Sai tên đăng nhập hoặc mật khẩu. Vui lòng thử lại.
    </div>

    <!-- Thay đổi thuộc tính action và method -->
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="username">Tên đăng nhập</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Nhập tên đăng nhập" required>
        </div>
        <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Nhập mật khẩu" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
        <p class="text-center mt-3">Chưa có tài khoản? <a th:href="@{/register}">Đăng ký ngay</a></p>
        <p class="text-center mt-3"> <a th:href="@{/forgot-password}">Quen mat khau?</a></p>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
